.footerWrapper {
  width: 100%;
  background-color: rgb(50, 100, 210);
  color: #fff;
  position: relative;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;               
  padding: 1.75rem;          
  font-size: 0.875rem;      
}

.footerIntro .footerLogo {
  width: 100px;              
  margin-bottom: 1rem;
}

.footerIntro .footerText {
  line-height: 1.5rem;       
  max-width: 66%;           
}

.footerHeading {
  font-size: 1.25rem;        
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.footerLinks ul,
.footerContact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerLinks li,
.footerContact li {
  margin-bottom: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footerLinks li:hover,
.footerContact li:hover {
  color: #d0d0d0;
}

.footerBottom {
  text-align: center;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
}

.footerBottom hr {
  border: 1px solid #fff;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 768px) {
  .footerContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.75rem 3rem; 
  }

  .footerIntro .footerText {
    max-width: 66%;
  }
}


@media screen and (max-width:600px) {
    .footerIntro .footerText {
    max-width: 100%;
  }
}