.meetContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px;
  min-height: 100vh;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rightPanel img {
  width: 350px;
  height: auto;
  max-width: 100%;   /* ✅ fix: responsive */
}

.rightPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.leftPanel {
  width: 50%;
}

.leftPanelContent {
  width: 100%;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.meeting {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.MuiOutlinedInput-root {
  font-size: 12px !important;
  padding-inline: 12px !important;
  width: 300px !important;
  padding-block: 3px;
}

.MuiOutlinedInput-root fieldset {
  border-color: #232323 !important;
}

.MuiInputLabel-root {
  color: #b0b0b0 !important;
}

.btns {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.MuiButton-root {
  border-radius: 8px !important;
  text-transform: inherit !important;
  font-weight: 600 !important;
  background: linear-gradient(90deg, #4facfe, #00f2fe) !important;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
  color: black;
}

.copy i{
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .meetContainer {
    flex-direction: column;
    margin-top: 60px;
    min-height: auto;
    gap: 27px;
  }

  .leftPanelContent h2 {
    font-size: 18px;
  }

  .rightPanel {
    width: 100%;
    margin-left: 0;
  }

  .leftPanel {
  width: 100%;
}

  .rightPanel img {
    width: 230px;   
  }

  .meeting {
    flex-direction: column;
  }

  .btns {
    gap: 8px;
  }

  .MuiOutlinedInput-root {
    width: auto !important;
  }

  .MuiButton-root {
    padding: 5px !important;
    padding-inline: 7px !important;
  }
}
